@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-shadow {
  box-shadow:
    inset -90.07px 90.07px 90.07px 0px rgba(255, 255, 255, 0.122),
    inset 90.07px -90.07px 90.07px 0px rgba(40, 40, 40, 0.122);
  backdrop-filter: blur(86.464px);
}
.custom-blur{
      box-shadow: inset 0px -5px 1px 0px #f89a06;
}


@layer utilities {
  .footer-background {
    @apply bg-no-repeat bg-cover bg-center;
    background-image: url('/mob-footer-bg.png');
  }

  @media (min-width: 768px) {
    .footer-background {
      background-image: url('/footer-bg.png');
    }
  }
}
@layer utilities {
  .header-background {
    @apply bg-cover bg-[position:75%_center];
    background-image: url('/mob-banner-bg.png');
  }

  @media (min-width: 768px) {
    .header-background {
      background-image: url('/banner-bg.png');
    }
  }
}
@layer utilities {
  .preview-background {
    @apply bg-cover bg-no-repeat;
    background-image: url('/mob-preview-new.png');
  }

  @media (min-width: 768px) {
    .preview-background {
      background-image: url('/preview-new.png');
    }
  }
}
@layer utilities {
  .about-background {
    @apply bg-cover bg-no-repeat;
    background-image: url('/mob-about-bg.png');
  }

  @media (min-width: 768px) {
    .about-background {
      background-image: url('/about-bg.png');
    }
  }
}
@layer utilities {
  .roadmap-background {
    @apply bg-cover bg-no-repeat bg-center;
    background-image: url('/mob-new-milestonese.png');
  }

  @media (min-width: 768px) {
    .roadmap-background {
      background-image: url('/new-milestonese.png');
    }
  }
}
